.navbar {
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensures it stays above other elements */
    background-color: #030202ba; 
    color: white;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(51, 51, 51, 0.585);
}

  
  .menu-button {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    color: white;
  }
  
  .navbar-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
  }
  
  .navbar-links {
    display: flex;
    gap: 16px;
  }
  
  .nav-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
  }
  
  .nav-button:hover {
    text-decoration: underline;
  }
  
  .middle {
    display: flex;
    text-decoration: none;
    color:white;
    justify-content: space-between;
    width: 70%;
  }
  .middle a {
    text-decoration: none;
    color:white;
&:hover {
    color:rgb(255, 0, 0);
    transition: 0.5s;
}  
}

.mainBody {
    height: 100vh;
    background: url("./new.png");
    background-size:cover;
    background-repeat: no-repeat;
}